@tailwind base;
@tailwind components;
@tailwind utilities;

.heroBg{
  background-image: url('../public/assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 
:root{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

